<!DOCTYPE html>
<html class="page {{ classPage|length ? classPage : '' }}" lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="ArtBro">
	<title>{{ title|length ? title : 'New' }}</title>
	<!-- uikit css -->
	<link rel="stylesheet" href="assets/vendors/uikit/uikit.min.css">
	<!-- swiper css -->
	<link rel="stylesheet" href="assets/vendors/swiper/swiper-bundle.min.css">
	<!-- main css -->
	<link rel="stylesheet" href="assets/style/css/style.css">
</head>

<body>
	<div class="site">
		{# ------ HEADER ----- #}
		{% block header %}
			{% include "../organisms/header.twig" %}
		{% endblock %}
		
		{# ------ BREADCRUMBS ----- #}
		{% block breadcrumbs %}{% endblock %}

		<!-- CONTENT WRAP -->
		<div class="site__content">
			{% block content %}{% endblock %}
		</div>

		{# ------ FOOTTER ----- #}
		{% block footer %}
			{% include "../organisms/footer.twig" %}
		{% endblock %}

		{# ------ COMMON ----- #}
		{% block common %}{% endblock %}
	</div>

	{# ------ SCRIPTS ----- #}
	{% block scripts %}
		<!-- jquery -->
		<script src="assets/vendors/jquery/jquery.min.js"></script>
		<!-- jquery event move -->
		<script src="assets/vendors/jquery/jquery.event.move.js"></script>
		<!-- uikit js -->
		<script src="assets/vendors/uikit/uikit-icons.min.js"></script>
		<script src="assets/vendors/uikit/uikit.min.js"></script>
		<!-- inputMask -->
		<script src="assets/vendors/inputMask/inputMask.min.js"></script>
		<!-- swiper bundle -->
		<script src="assets/vendors/swiper/swiper-bundle.min.js"></script>
		<!-- main -->
		<script src="assets/js/main.js"></script>
	{% endblock %}
</body>

</html>